* {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
}
body {
    background: #161719 url(../img/portfolio_banner.jpg) no-repeat center center;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}
.navbar-brand {
    font-size: 1.5rem;
    text-transform: lowercase;
    margin-left: 1rem;
}
.nav-link {
    font-size: 1.5rem;
    text-transform: lowercase;
}
h1 {
    font-size: 4.5rem;
    margin: 0;
    line-height: 4rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.3rem;
    text-transform: capitalize;
    padding-left: 0.3rem;
    letter-spacing: 0.1rem;
}
h1, h2, h3, p {
    color: white;
}
small {
    font-size: 1rem;
}
.tagline {
    margin-top: 15rem;
    margin-left: 20rem;
    height: 70vh;
    width: 100vw;
}
.recent-projects {
    margin-top: -15vh;
}
.arrow {
    transform: rotate(90deg);
    display: block;
    margin-left: 18rem;
    margin-top: -2.5rem
}
.project-date {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #727171;
    margin-top: -1rem;
    padding-left: 0.3rem;
    font-weight: bolder;
}
.thumbnail {
    height: auto;
    width: 25%;
    max-width: 100%;
}
.wrapper {
    padding: 0;
    margin: 0;
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(2, 19rem);
    grid-template-columns: repeat(4, 25vw);
}
.section-title {
    grid-area: 1 / 2 / 2 / 1;
    text-align: right;
    margin-right: 0.8rem;
}
.section-title p {
    margin-top: -1rem;
}
.section-subtitle {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.section-thumbnail img{
    width: 100%;
    height: auto;
    padding: 0.3rem;
}
.thumbnail-00 {
    display: none;
}
.thumbnail-000 {
    display: none;
}
footer {
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    margin-top: 3rem;
}
a:hover {
    text-shadow: 2px 2px cyan;
}
a:focus {
    outline: none!important;
}
.section-thumbnail img:hover {
    box-shadow: 0px 0px 2px 2px cyan;
}


/* -------<< t a b l e t >>------- */
@media only screen and (min-width: 401px) and (max-width: 900px) {
    body {
        background-image: url(../img/portfolio_banner.jpg);
        background-color: #161719;
        background-repeat: no-repeat;
        background-size: 140%;
        background-position-x: -25vh;
        background-position-y: 5vw;
    }
    .tagline {
        margin-top: 8rem;
        margin-left: 4rem;
        height: 70vh;
        width: 100vw;
    }
    .wrapper {
        padding: 0;
        margin: 0;
        margin-top: 5rem;
        display: grid;
        grid-template-rows: repeat(3, 15rem);
        grid-template-columns: repeat(3, 33vw);
        justify-content: center;
    }
    .thumbnail-0 {
        display: none;
    }
    .thumbnail-00 {
        display: block;
    }
    .thumbnail-000 {
        display: block;
    }
}

/* -------<< m o b i l e >>------- */
@media only screen and (max-width: 400px) {
    body {
        background-image: url(../img/portfolio_banner.jpg);
        background-color: #161719;
        background-repeat: no-repeat;
        background-size: 170%;
        background-position-x: -39vh;
        background-position-y: 10vw;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    .tagline {
        margin-top: 19rem;
        margin-left: 7rem;
        height: 100vh;
        width: 50vw;
    }
    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .recent-projects {
        margin-top: -70vh;
        width: 50vw;
    }
    .arrow {
        margin-left: 16rem;
        margin-top: -3rem;
    }
    .wrapper {
        margin-top: 5rem;
        display: block;
        justify-content: center;
    }
    .project-date {
        padding-bottom: 1rem;
    }
}